* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-weight: 100;
    letter-spacing: 0.2em;
    /* line-height: 10%; */
    margin-bottom: 0.3em;
}

h3 {
    margin: 0;
    text-transform: uppercase;
}

h5 {
    color: red;
}

.kursiv {
    font-style: italic;
}

.unterstrichen {
    text-decoration: underline;
}
